$base-color: #01161D;
$base-gradient: recessed;
$body-background-color: #024E68;
$color: #FFFFFF;
$font-size: 12px;
$line-height: 10px;
$button-default-background-color: #290671;
$button-default-background-color-focus: #4962D6;
$button-default-background-color-focus-over: #4962D6;
$button-default-background-color-focus-pressed: #4962D6;
$button-default-background-color-over: #D4DAEB;
$button-default-base-color: #000000;
$button-default-base-color-pressed: #4962D6;
$button-default-body-outline-color-focus: #EA1B1B;
$button-default-border-color-focus-over: #EA1B1B;
$button-default-border-color-focus-pressed: #EA1B1b;
$button-default-border-color-over: #EA1B1B;
$button-default-inner-border-color-focus: #4962D6;
$button-default-inner-border-color-focus-over: #4962D6;
$button-default-inner-border-color-focus-pressed: #4962D6;
$btn-group-background-color: #4962D6;
$btn-group-header-background-color: #4962D6;
$menu-item-active-background-color: #2697B8;
$resizer-handle-glyph-color: #F30426;
$tab-closable-icon-glyph-color-active: #F21227;
$tab-color-focus: #FFFFFF;
$tab-color-focus-active: #FFFFFF;
$grid-row-cell-focus-background-color: #8F6DC7;
$grid-row-cell-focus-color: #D9D9D9;
$grid-row-cell-over-background-color: #8F6DC7;
$grid-row-cell-selected-background-color: #2D3C82;
$grid-row-cell-selected-color: #FFFFFF;
$grid-column-header-border-width: 3px;
$grid-column-header-line-height: 12px;
$grid-header-padding: 7px 10px 6px 10px;
$grid-header-sorted-background-color: #682802;
$link-color: #FFFFFF;
$link-hover-color: #9A9A9A;
$link-visited-color: #FFEFF3;
$themer-mixin-schema-timestamp: a4bd68e603992b5b316236d8abd58e44cfdd8f06;